body{
    margin-top: 0vh;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    background-color: rgba(250, 250, 250, 0.9);
}

#pug-container{
    margin-top: 10vh;
    min-width:400px;
    max-width: 60vw;
    padding: 20px;
}
.form-group input{
    margin: 15px 0;
}
.card-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.example-box,
.site{
    align-self: center;
    background-color: rgb(234, 245, 245);
    padding:10px 20px;
    border-radius: 10px;
}

/* Index.pug (Response File) */
.outputHead{
    margin-top: 5px;
}
.outputVal{
    margin-right: 10px;
}

@media screen and (max-width:490px)
{
    #main-container{
        min-width: 90vw;
    }
    #pug-container{
        min-width: 80vw;
    }
}